#big-papa {
    display: flex;
    flex-flow: row wrap;
    background-color: none;
    width: 100%;
    height: 100%;
    justify-content: right;
}
.container {
    background-color: black;
    height: 75px;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row-reverse;
    
    
    justify-content: space-around;
    
}

div {
    width: 50x;
    height: 50px;

}




