body {
    background-color: salmon;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

nav {
    
    background-color: green;
    padding:25px;
    border-radius: 15px;
    

}

div {
    background-color: brown;
    padding:20px;
    border-radius: 15px;

}
